@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Subir archivo a comprimir</h3>
</div>

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="archivo"/>
    <input type="submit" value="Importar"/>
    //<label for="file">Upload Image:</label>
   //<input type="file" name="file" id="file" /><br><br>
    //<input type="submit" value="Upload File" />
    <br><br>
    @ViewBag.Message
}


@*Encoding type is multipart/form-data. These parameters are required for uploading binary data to the server.
    The name of the input element identifies the uploaded file in the HttpPostedFilesBase object.
*@

