@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Subir archivo a comprimir</h3>
</div>



@if (Laboratorio_Compresión.Controllers.HomeController.currentFile != "")
{
    <div>
        < input type = "button" value = "Download"
        onclick = "location.href= '@Url.Action("DownloadFile", "Home")'" %>
    </div>
}

else
{
    <b>Bienvenidos a Compresiones Huffman!</b>
}
